{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="offset-3">S'enregistrer</h1>

    {{ form_start(registrationForm, {'attr':{'class':'form-group offset-3 col-6'}}) }}
    {{ form_row(registrationForm.email, {'attr':{'class':'form-control'}}) }}
    {{ form_row(registrationForm.name, {'attr':{'class':'form-control'}}) }}
    {{ form_row(registrationForm.firstName, {'attr':{'class':'form-control'}}) }}
    {{ form_row(registrationForm.ville, {'attr':{'class':'form-control'}}) }}
    {{ form_row(registrationForm.plainPassword, {'attr':{'class':'form-control'}}) }}
    {{ form_label(registrationForm.demandDoctor) }}
    {{ form_widget(registrationForm.demandDoctor) }}
    {{ form_row(registrationForm.agreeTerms, {'attr':{'class':'form-check'}}) }}

    <button type="submit" class="btn btn-primary mt-2">Envoyer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
