{% extends 'base.html.twig' %}

{% block title %}Docto Team Accueil{% endblock %}

{% block body %}

    {% set imagePath = 'images/profil/' ~ user.imageFileName %}

    <div class="container">
        <img src="{{ asset(imagePath) }}" alt="Caducée"
             class="img-thumbnail rounded mx-auto d-block col-md-6 col-lg-2 mt-4">
        <div class="d-flex flex-column align-content-between">
            <div class="mt-4">
                Nom : {{ user.name }}
            </div>
            <div class="mt-4">
                Prénom : {{ user.firstName }}
            </div>
            <div class="mt-4">
                Ville : {{ user.ville }}
            </div>
            {% if(app.user.roles == ["ROLE_DOCTOR"]) %}
                <div class="mt-4">
                    Numéro RPPS : {{ user.doctor.rpps }}
                </div>
                <div class="mt-4">
                    Consultation a domicile :
                    {% if user.doctor.consultAtHome %}
                        Oui
                    {% else %}
                        Non
                    {% endif %}
                </div>
                <div class="mt-4">
                    Horaires :
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Jour</th>
                            <th>Horaires</th>
                        </tr>
                        </thead>
                        <tr>
                            <td>Lundi</td>
                            <td>
                                {% if((user.doctor.horaires.lundiO != null) and (user.doctor.horaires.lundiF != null))  %}
                                {{ user.doctor.horaires.lundiO }}-{{ user.doctor.horaires.lundiF }}
                                {% else %}
                                Fermé
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Mardi</td>
                            <td>{% if((user.doctor.horaires.mardiO != null) and (user.doctor.horaires.mardiF != null))  %}
                                    {{ user.doctor.horaires.mardiO }}-{{ user.doctor.horaires.mardiF }}
                                {% else %}
                                    Fermé
                                {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Mercredi</td>
                            <td>{% if((user.doctor.horaires.mercrediO != null) and (user.doctor.horaires.mercrediF != null))  %}
                                    {{ user.doctor.horaires.mercrediO }}-{{ user.doctor.horaires.mercrediF }}
                                {% else %}
                                    Fermé
                                {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Jeudi</td>
                            <td>{% if((user.doctor.horaires.jeudiO != null) and (user.doctor.horaires.jeudiF != null))  %}
                                    {{ user.doctor.horaires.jeudiO }}-{{ user.doctor.horaires.jeudiF }}
                                {% else %}
                                    Fermé
                                {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Vendredi</td>
                            <td>{% if((user.doctor.horaires.vendrediO != null) and (user.doctor.horaires.vendrediF != null))  %}
                                    {{ user.doctor.horaires.vendrediO }}-{{ user.doctor.horaires.vendrediF }}
                                {% else %}
                                    Fermé
                                {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Samedi</td>
                            <td>{% if((user.doctor.horaires.samediO != null) and (user.doctor.horaires.samediF != null))  %}
                                    {{ user.doctor.horaires.samediO }}-{{ user.doctor.horaires.samediF }}
                                {% else %}
                                    Fermé
                                {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Dimanche</td>
                            <td>{% if((user.doctor.horaires.dimancheO != "") and (user.doctor.horaires.dimancheF != ""))  %}
                                    {{ user.doctor.horaires.dimancheO }}-{{ user.doctor.horaires.dimancheF }}
                                {% else %}
                                    Fermé
                                {% endif %}</td>
                        </tr>
                    </table>

                </div>
                <div class="mt-4">
                    Spécialité :
                    <table class="table table-hover">
                        {% for speciality in user.doctor.specialities %}
                            <tr>
                                <td>{{ speciality.libelle }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
