<form method="post" action="{{ path('speciality_delete', {'id': speciality.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ speciality.id) }}">
    <button class="btn">Delete</button>
</form>
