{% extends 'base.html.twig' %}

{% block title %}Speciality index{% endblock %}

{% block body %}
    <h1>Speciality index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for speciality in specialities %}
            <tr>
                <td>{{ speciality.id }}</td>
                <td>{{ speciality.libelle }}</td>
                <td>
                    <a href="{{ path('speciality_show', {'id': speciality.id}) }}">show</a>
                    <a href="{{ path('speciality_edit', {'id': speciality.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('speciality_new') }}">Create new</a>
{% endblock %}
