{% extends 'base.html.twig' %}

{% block title %}Docto Team Accueil{% endblock %}

{% block body %}


    <div class="container">
        <h1 class="text-center">Bienvenue sur DoctoTeam</h1>


        <img src="{{ asset('images/general/Caducee-dhermes1.jpg') }}" alt="Caducée"
             class="img-thumbnail rounded mx-auto d-block col-md-6 col-lg-2 mt-4">

        <div class="text-center mt-5">
            <p>Sur ce site, vous pourrez noter votre médecin préféré (et descendre celui que vous n'aimez pas).</p>
            <p>Médecin? Vous avez la possibilité de gérer votre page personnelle.</p>
            <p>Notre équipe de super admins hyper motivés veillent au grain afin d'éviter les abus</p>
        </div>
        <div class="d-flex row justify-content-around">
            {% for doctor in doctors %}

                {% set imagePath = 'images/profil/' ~ doctor.userDoctor.imageFileName %}

                <div class="card mt-3" style="width: 18rem;">
                    <img src="{{ asset(imagePath) }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ doctor.userDoctor.name }} {{ doctor.userDoctor.firstName }}</h5>
                        <p class="card-text">{{ doctor.userDoctor.ville }}</p>
                        <a href="/doctor/{{ doctor.id }}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
