{% extends 'base.html.twig' %}

{% block title %}Docto Team Accueil{% endblock %}

{% block body %}

    <div class="container">
        <h1>Donnez un avis au docteur {{ doctor.userDoctor.name }} {{ doctor.userDoctor.firstName }}</h1>
            <form method="post" class="form-group">
                <label for="note">Donner une note ?</label>
                <select name="note" id="note" class="form-control">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <label for="comment">Donnez nous un avis écrit</label>
                <textarea class="form-control" name="comment" id="comment" cols="30" rows="10"></textarea>
                <button type="submit" class="btn btn-primary">Envoyer l'avis</button>
            </form>
    </div>
{% endblock %}
