{% extends 'base.html.twig' %}

{% block title %}Hello DoctorController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="d-flex flex-column align-content-between">
            <div class="mt-4">
                Nom : {{ doctor.userDoctor.name }}
            </div>
            <div class="mt-4">
                Prénom : {{ doctor.userDoctor.firstName }}
            </div>
            <div class="mt-4">
                Ville : {{ doctor.userDoctor.ville }}
            </div>
                <div class="mt-4">
                    Numéro RPPS : {{ doctor.rpps }}
                </div>
                <div class="mt-4">
                    Consultation a domicile :
                    {% if doctor.consultAtHome %}
                        Oui
                    {% else %}
                        Non
                    {% endif %}
                </div>
                <div class="mt-4">
                    Horaires :
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Jour</th>
                            <th>Horaires</th>
                        </tr>
                        </thead>
                        <tr>
                            <td>Lundi</td>
                            <td>
                                {% if((doctor.horaires.lundiO != null) and (doctor.horaires.lundiF != null))  %}
                                    {{ doctor.horaires.lundiO }}-{{doctor.horaires.lundiF }}
                                {% else %}
                                    Fermé
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Mardi</td>
                            <td>{% if((doctor.horaires.mardiO != null) and (doctor.horaires.mardiF != null))  %}
                                    {{ doctor.horaires.mardiO }}-{{ doctor.horaires.mardiF }}
                                {% else %}
                                    Fermé
                                {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Mercredi</td>
                            <td>{% if((doctor.horaires.mercrediO != null) and (doctor.horaires.mercrediF != null))  %}
                                    {{ doctor.horaires.mercrediO }}-{{ doctor.horaires.mercrediF }}
                                {% else %}
                                    Fermé
                                {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Jeudi</td>
                            <td>{% if((doctor.horaires.jeudiO != null) and (doctor.horaires.jeudiF != null))  %}
                                    {{ doctor.horaires.jeudiO }}-{{ doctor.horaires.jeudiF }}
                                {% else %}
                                    Fermé
                                {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Vendredi</td>
                            <td>{% if((doctor.horaires.vendrediO != null) and (doctor.horaires.vendrediF != null))  %}
                                    {{ doctor.horaires.vendrediO }}-{{ doctor.horaires.vendrediF }}
                                {% else %}
                                    Fermé
                                {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Samedi</td>
                            <td>{% if((doctor.horaires.samediO != null) and (doctor.horaires.samediF != null))  %}
                                    {{ doctor.horaires.samediO }}-{{ doctor.horaires.samediF }}
                                {% else %}
                                    Fermé
                                {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Dimanche</td>
                            <td>{% if((doctor.horaires.dimancheO != "") and (doctor.horaires.dimancheF != ""))  %}
                                    {{ doctor.horaires.dimancheO }}-{{ doctor.horaires.dimancheF }}
                                {% else %}
                                    Fermé
                                {% endif %}</td>
                        </tr>
                    </table>

                </div>
                <div class="mt-4">
                    Spécialité :
                    <table class="table table-hover">
                        {% for speciality in doctor.specialities %}
                            <tr>
                                <td>{{ speciality.libelle }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>
        </div>
        {% if app.user %}
            <a href="/doctor/{{ doctor.id }}/avis">Donner un avis</a>
        {% endif %}
    </div>
{% endblock %}
