<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}{% endblock %}

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('index') }}">DoctoTeam</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('index') }}">Accueil</a>
            </li>
            {% if app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('profil') }}">Profil</a>
            </li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('speciality_index') }}">Gérer les spécialités</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
        <div class="mr-0">
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="btn btn-danger">Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_register') }}" class="btn btn-primary">S'enregistrer</a>
                <a href="{{ path('app_login') }}" class="btn btn-success">Se connecter</a>
            {% endif %}
        </div>
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}{% endblock %}
</body>
</html>
